@import url('https://fonts.googleapis.com/css2?family=Space+Mono:ital@1&display=swap');

body {
  position: fixed;
  overflow: hidden;
  height: 100%;
  max-height: 100%;
  width: 100%;
}

#root {
  position: relative;
  min-height: 100%;
  max-height: 100%;
  min-width: 100%;
  overflow: hidden;
  box-sizing: border-box;
}

#loginDiv {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
}

.loginClass {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.buttonBox {
  width: 75px;
  margin: 10px;
  padding: 5px;
  margin-bottom: 0px;
  font-size: small;
  border: 1px solid beige;
  border-radius: 10px;
}


#splash {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
  background-color: #111;
  z-index: 1000;
}

#splashText {
  font-family: 'Space Mono', monospace;
  font-size: small; 
  color: #333;
}

#smalltalk {
  font-family: 'Space Mono', monospace;
  font-weight: bold;
  color: #eee;
  font-size: x-large; 
  transition: all 0.2s;
  position: absolute;
  visibility: hidden;
  z-index: 300;
  top: -80px;
  left: 50%;
  transform: translateX(-50%); /* Adjust for horizontal centering */
}

.devText {
  position: absolute;
  font-family: 'Space Mono';
  opacity: 0%;
  color: #555;
  bottom: 30px;
  font-size: x-small;
  animation: devtextin 0.5s ease-out 1.5s  forwards;
}

@keyframes devtextin {
  from {
    opacity: 0%;
  }
  to {
    opacity: 100%;
  }
  
}

.devText a{ 
  color: #28a55c;
}

#loginLogo {
  font-family: 'Space Mono', monospace;
  font-size: x-large; 
  transition: all 0.3s ease-out;
  position: relative;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}

#chatList {
  overflow-y: auto;
  overflow-x: hidden;
  scrollbar-color: #eee rgba(0,0,0,0);
  scrollbar-width:none; /*change this maybe*/
  min-height: calc(100% - 60px);
  max-height: calc(100% - 140px);
  border-collapse: collapse;
}

#backButton {
  transition: opacity 0.2s;
  opacity: 0;
  visibility: hidden;
  height: 32px;
  width: 32px;
  color: #eee;
  margin-right: 10px;
  padding: 0;
  margin-left: 0;
  position: absolute;
  top: 22px;
  left: 12px;
}

#indexPage {
  position: absolute;
  top:80px;
  border-left: 1px solid #eee;
  height: calc(100vh - 140px);
  display: flex;
  justify-content: center;
  align-items: center;
  width: calc(100vw - 320px);
}

.indexText {
  position: relative;
  top:30px;
  opacity: 15%;
  width: 100%;
  flex-grow: 1;
  text-align: center;
}

#side {
  background-color: #111;
  margin-top: 80px;
  display: flex;
    flex-direction: column;
    justify-content: start;
  overflow-y: auto;
  overflow-x: hidden;
}

.messageBox {
  color:#eee;
  padding: 10px;
  display: flex;
  justify-content: left;
  align-items: center;
  height:70px;
  width:300px;
  border: 1px dashed #666;
  border-right: 0px;
  border-top: 0px;
  border-left: 0px;
  transition: background-color 0.1s;
}

.messageBox:last-child {
  margin-bottom: 160px;
}

.messageBoxSelected {
  background-color: #222;
  background-image: linear-gradient(to left, #444 5%, rgba(22, 13, 13, 0) 3%); 
}

.messageBox:hover {
  z-index: -4;
  background-color: #222;
  cursor: pointer;
}

.messageBoxText {
  flex-grow: 1;
  text-align: left;
  width: auto;
  font-weight: bold;
}

.lastMessage {
  font-weight:normal;
  font-size: small;
  display: flex;
  justify-content: left;
  align-items: baseline;
}

.lastMessageText {
  max-width: 200px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}


.lastMessageTime {
  margin-left: 5px;
  color: #666;
  font-size: small;
}

.avatar {
  border-radius: 10px;
  margin-right: 15px;
  margin-left: 5px;
  background-color: #eee;
  position: relative;
  color: #111;
  height: 48px;
  width: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.avatarImage {
  filter: drop-shadow(4px 4px 0.01rem #111); 
  position: relative;
  height: 40px;
  width: 40px;
}

.cool {
  height: 40px;
  width: 40px;
  position: absolute;
}

.headerAvatar {
  filter: drop-shadow(4px 4px 0 #222);
}

.headerAvatar .avatar {
  border: solid 2px #222;
}

#settingsHeader {
  background-color: #222;
  width: 100%;
  display: flex;
  justify-content: start;
  align-items: center;
  padding-top: 10px;
  padding-bottom: 10px;
  margin: 0;
  border-top-right-radius: 30px;
}

#settingsAvatar {
  justify-self: start;
  margin-left: 10px;
  margin-right: 0px;
  padding-right: 0px;
  width: fit-content;
  display: flex;
}

#settingsName {
  font-weight: bold;
  flex-grow: 1;
}

#logOutButton {
  padding-bottom: 0px;
  margin-bottom: 0px;
  justify-self: end;
  flex-grow: 0;
  margin-right: 12px;
  display: flex;
  cursor: pointer;
  transition: all 0.1s ease-out;
}

#logOutButton:hover {
  color: #fd5050;
}

#settingsShade {
  background-color: #222;
  margin: 0;
  margin-left: 10px;
  padding: 0;
  padding-left: 0;
  padding-right: 0;
  border-right: 0px;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.loggedOutLogo {
  transition: all 0s;
  visibility: hidden;
}

#signUp {
  text-decoration: underline;
  color: #eee;
  cursor: pointer;
  color: #28a55c;
  transition: all 0.1s ease-out;
}

#signUp:hover {
  color: #28a55c;
}

#headerLine {
  height: 1px;
  position: absolute;
  width: 100vw;
  opacity: 0%;
  left:0;
  right: 0;
  top:80px;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
  background-color:#eee;
  z-index: 10;
}

@keyframes linein {
  from {
    width: 1px;
    opacity: 0;
  }
  to {
    width: 100%;
    opacity: 100%;
  }
}

#loginForm {
  border-radius: 10px;
  margin: 0 auto;
  margin-top: 10px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  height: 0px;
  opacity: 0%;
  animation: loginUp 0.5s ease-in-out 0.7s forwards;
  transition: all 0.2s ease-in;
}

@keyframes loginUp {
  from {
    height: 0px;
    opacity: 0%;
  }
  to {
    height: 220px;
    opacity: 100%;
  }
}

input {
  background-color: #222;
  margin: 5px;
  color : #eee;
  text-indent: 5px;
  border-radius: 5px;
  border: 0px;
  font-family: 'Inter';
  padding-top: 5px;
  padding-bottom: 5px;
}

input:focus {
  outline: solid #eee 3px;
}

#bottomMenu {
  position: fixed;
  left:0;
  bottom: 0;
  background-color: #111;
  color: #eee;
  border-right: 1px solid #eee;
  display: flex;
  justify-content: space-around;
  z-index: 99;
  align-items: center;
  height: 60px;
  width: 320px;
  color: #111;
  box-shadow: 0px -10px 15px rgba(1, 1, 1, 0.5);
}

.bottomMenuButton {
  box-sizing: border-box;
  border-right: 1px solid #eee;
  border-top: 1px solid #eee;
  height: 60px;
  flex-grow: 1;
  display: flex;
  justify-content: center;
  transition: all 0.1s;
  z-index: 99;
  background-color: #111;
  color: #eee;
}

.bottomMenuButton:last-child {
  border-right: unset;
}

.bottomMenuButtonIcon {
  height: 32px;
  width: 32px;
  margin: auto;
  transition: all 0.1s;
}

.bottomMenuButton:hover {
  background-color: #222;
  cursor: pointer;
}

.shade {
  position: absolute;
  bottom: 74px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background-color: #111;
  color: #eee;
  z-index: 100;
  padding-bottom: 10px;
  left: 0px;
  box-sizing: border-box;
  width: 321px;
  border-top: 3px solid #333;
  box-shadow: 7px -7px 15px 0px rgba(0,0,0,0.5);
}

#addShade {
  margin-left: 11px;
  background-color: #222;
  padding-top: 10px;
  align-items: start;
  text-indent: 6px;
  padding-left: 10px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.bottomMenuButton svg {
  border-radius: 50%;
}

#shadeOpen {
  border-right: solid 2px #222;
  border-top: solid 1px #222;
  background-color: #222;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  transform: translate(11px,-15px);
  z-index: 100;
}
#shadeOpen svg {
  background-color: #eee;
  color: #111;
}

#addShade div {
  width: 100%;
  display: flex;
  align-items: center;
  text-indent: 10px;
}

#addShade input {
  background-color: #111;
  flex-grow: 1;
}

#addShade button {
  outline: 1px solid #eee;
  font-weight: normal;
  border-radius: 20px;
  border: 0px;
  margin: 5px;
  margin-right: 20px;
}

#avatarForm {
  width: 100%;
  display: flex;
  flex-direction: column;
}



#addUserButton {
  border-radius: 5px;
  height:32px;
  text-align: left;
  padding: 0px;
  padding-left: 10px;
  padding-right: 10px;
}

#addUserText {
  height: 32px;
}

.divider {
  height: 1px;
  width: 200px;
  margin: 20px;
  margin-bottom: 15px;
  border-radius: 10px;
  background-color: #eee;
}

#mainContainer {
  min-height: 100%;
  height: 100%;
  display: flex;
  position: absolute;
  visibility: hidden;
  opacity: 0;
  transition: all 0.2s;
}

.chatArea {
  left: 320px;
  height: 100%;
  max-height: 100%;
  width: auto;
  overflow: hidden;
  box-sizing: border-box;
}

.chatHeader {
  background-color: #eee;
  width: calc(100vw - 320px);
  position: relative;
  top:80px;
  overflow: hidden;
  height: 80px;
  transition: all 0.2s;
}

.chatHeaderContainer {
  display: flex;
  padding-left: 20px;
  padding-right: 20px;
  margin: 10px;
  margin-top: 13px;
  padding-bottom: 10px;
  justify-content: left;
  align-items: center;
}


.headerName {
  padding-left: 5px;
  color: #111;
  font-size: large;
}

.chatMessages {
  background-color: #111;
  display: flex;
  flex-direction: column-reverse;
  position: fixed;
  height: calc(100% - 140px);
  max-height: calc(100% - 140px);
  width: calc(100vw - 320px);
  overflow-y: auto;
  overflow-x: hidden;
  box-sizing: border-box;
  border-left: 1px solid #eee;
  scrollbar-width: thin;
}

.message {
  max-width: 70%;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 15px;
  padding: 10px;
  padding-top: 8px;
  padding-bottom: 8px;
  border-radius: 10px;
  width: max-content;
  align-self: flex-start;
  box-sizing: border-box;
  border-top-left-radius: 2px;
  background-color: #333;
  border: none;
}

.message:last-child {
  margin-top: 20px;
}

.message:first-child {
  margin-bottom: 10px;
}

.messageSent {
  align-self: flex-end;
  background-color: #111;
  border: solid 1px #555;
  border-top-left-radius: 10px;
  border-top-right-radius: 2px;
}

.messageCluster {
  border-radius: 10px;
  margin-top: 3px;
  border-bottom-right-radius: 10px;
}

.messageTime {
  display: block;
  color: #888;
  font-size: small;
  height: 1px;
  width: 1px;
  opacity: 0%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  transition: all 0.4s ease-out 0.2s;
}

.message:hover .messageTime {
  width: 11em;
  opacity: 100%;
height: 1.3em;
}

.messageSent .messageTime {
  color: #555;
}



.chatInput {
  background-color: #111;
  width: calc(100vw - 320px);
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  border-top: #eee 1px solid;
  border-left: #eee 1px solid;
  padding: 0%;
  position: absolute;
  top:calc(100% - 60px);
  overflow-x: hidden;
  transition: all 0.2s;
}

#chatView {
  height: 100%;
}

#chatTextInput {
  font-family: unset;
  margin: 0;
  border: 0;
  width: 85%;
  margin-left: 5px;
  height: 40px;
  border-radius: 0;
  background-color: #111;
  text-indent: 10px;
}

#chatTextInput:focus {
  outline: 0px;
}

#sendButton {
  margin: 10px;
  margin-left: 15px;
  margin-right: 20px;
  display: flex;
  flex-grow: 1;
  justify-content: end;
  align-items: center;
  color: #333;
}

#sendButtonIcon {
  height: 32px;
  width: 32px;
}

#errorMessage {
  font-size: smaller;
  color: rgb(218, 67, 67);
}

#shadeError {
  font-size: smaller;
  color: rgb(255, 79, 79);
  display: block;
}

fieldset {
  background-color: #111;
  margin-left: 10px;
  margin-right: 10px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-top: 10px;
  padding-bottom: 5px;
  border: 0px;
  border-radius: 10px;
  margin-bottom: 5px;
}

[type=checkbox] {
  height: 18px;
  width: 18px;
}

#buttonFieldset {
  padding-bottom: 14px;
  padding-left: 30px;
  padding-right: 20px;
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
  border-bottom: 0;

}

[type=radio] { 
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
}

#avatarUpdateButton {
  width: 150px;
  outline: 1px solid #eee;
  font-weight: normal;
  border-radius: 20px;
  border: 0px;
}

/* IMAGE STYLES */
[type=radio] + img {
  background-color: #222;
  cursor: pointer;
  height: 48px;
  width: 48px;
  margin-left: 5px;
  border: solid 5px #111;
  box-sizing: border-box;
  border-radius: 10px;
  transition: all 0.05s ease-out;
}

[type=radio] + div {
  cursor: pointer;
  height : 48px;
  width: 48px;
  border-radius:50%;
  border: solid 5px #111;
  box-sizing: border-box;
  margin-bottom: 5px;
  transition: all 0.05s ease-out;
}

/* CHECKED STYLES */
[type=radio]:checked + img,
[type=radio]:checked + div {
  outline: 2px solid #eee;
}

#Go {
  padding-bottom: 10px;
}

#shadeOpen + div {
  border-left: solid 1px #eee;
}

label {
  -webkit-tap-highlight-color: transparent;
  font-size: large;
  display: flex;
}

@media (max-width: 600px) {
  html {
    height: 100%;
  }
  
  #mainContainer {
    flex-direction: column;
  }

  #headerLine {
    min-width: 100vw;
  }

  #settingsShade {
    border-right: 1px solid #222;
    left: unset;
    right: 10px;
  }

  .messageBoxSelected {
    background-image: none;
  }

  #side {
    height: calc(100% - 80px);
    top:0px;
    z-index: 3;
  }
  #chatList {
    justify-self: flex-start;
    max-height: calc(100%-140px);
    width: 100vw;
    z-index: 3;
  }
  .messageBox {
    width: 100vw;
    z-index: 0;
  }
  #bottomMenu {
    width: 100vw;
  }

  #smalltalk {
    z-index: 0;
    left:50% !important;
  }

  #backButton {
    cursor: pointer;
    opacity: 100%;
    visibility: visible;
    color: #111;
    height: 32px;
    width: 32px;
    z-index: 99;
  }

  #indexPage {
    visibility: hidden;
    height: 0px;
  }

  .shade {
    margin-right: 20px;
    width: 80vw;
    z-index: 0;
    border-right: 0px;
  }


  .bottomMenuSettingsButton#shadeOpen  {
    transform: translate(-9.5px,-15px) ;
  }

  .chatArea {
    position: absolute;
    max-height: 100%;
    width: calc(100vw + 2px);
    left: 100vw;
    top: 0;
    animation: slidein 0.3s ease-out alternate forwards;
    box-shadow: -10px -10px 15px rgba(1, 1, 1, 0.75);
  }

  @keyframes slidein {
    to {
      left: 0px;
    }
  }
  .chatHeader {
    width: 100vw;
    top:0px;
  }

  .chatHeaderContainer {
    margin-left: 35px;
  }
  .chatMessages {
    width: 100vw;
    position: relative;
    z-index: 9999;
    transition: all 0.2s;
    border-left: 0px;
    scrollbar-width: none;
  }
  .chatInput {
    position: sticky;
    bottom: 0;
    width: 100vw;
    border-left: 0px;
    z-index: 9999;
  }
  .logoChatOpen {
    visibility: hidden;
  }

  .bottomMenuButton:hover {
    background-color: #111;
    color: #eee;
  }

  .lastMessageText {
    max-width: 70vw;
  }
  
}

@media (min-width: 1100px) {
  .message {
    max-width: 40%;
  }
  
}
